.app{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:teal;
}

.container{
 width: 500px;
 text-align: center;
}

.card-header{
  background-color:darkseagreen;
  color: white;
  padding: 10px;
}

.card-footer{
  background-color: darkseagreen;
  color: white;
  padding: 10px;
}

.card-body{
  padding: 30px;
  background-color: linen;
}

.unit-control{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.unit{
  background-color: darkseagreen;
  color: white;
  padding: 10px;
}

.converter{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.converter-title{
  padding: 10px;
  color: seagreen;
  font-weight: 800;
}

.converter-input{
  padding: 5px;
  width: 50px;
}