
.container{
 width: 500px;
 text-align: center;
}

.card-header{
  background-color:darkseagreen;
  color: white;
  padding: 10px;
}

.card-footer{
  background-color: darkseagreen;
  color: white;
  padding: 10px;
}

.card-body{
  padding: 30px;
  background-color: linen;
}

.unit-control{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.unit{
  background-color: darkseagreen;
  color: white;
  padding: 10px;
}

.converter{
  display: flex;
  justify-content: space-around;
  padding: 10px;

}